body{
    background-color: black;
    background-size: cover;
}

main{
    margin-bottom: 10vh;
}

nav{
    background-color: #b30000;
}

.answerBox, .startBox{
    bottom: 5px;
    left: 0;
    position: absolute;
    right: 0;
}

.answerBox > button{
    display: block;
    margin: 10px 0;
    width: 100%;
}

.card{
    background-color: rgba(255,255,255, 1);
    margin: 5px;
    padding: 0;
    min-height: 39vh;
}

.card-text{
    padding: 5px;
    border-radius: 5px;
    background-color:#DCDCDC;
}

.footer-copyright > a {
    color: yellow;
}

.hideCard{
    display: block;
    width: 100%;
}

.horizontal-center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar{
    /* max-height: 5vh; */
}

.navbar-brand{
    color: white;
}
.navbar-brand > img{
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
}

.timer{
    display: block;
    width: 100%;
}
.timer:hover{
    cursor: default;
}
@media screen and (max-width: 600px) {
    .vertical-center{
        display:block;
        /* min-height: 90%;
        min-height: 90vh; 
        display: flex; */
        /* align-items: center; 
        justify-content: center; */
    }
    
    .card{
        min-height: 70vh;
    }
}

.vertical-center{
    min-height: 90%;
    min-height: 90vh; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

#contactBtn{
    clear: both;
}

#enterInitials{
    
}

#playAgain{
    display: none;
}

#gameScore {
    margin-top: 10px;
}

#gameScore > button{
    margin-top: 10px;
}

#questionCard{
    display: none;
}

#scoreBoard{
    display: none;
}

#startGame{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}