body{
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}

form{
    margin-top: 1%;
}

main{
    margin-bottom: 10vh;
}

nav{
    background-color: orange;
}

.aboutMe{
    margin-top: 1%;
}

.answerBox, .startBox{
    bottom:0;
    left:0;
    position: absolute;
    right:0;
}

.answerBox > button{
    display: block;
    margin: 10px 0;
    width: 100%;
}

.card{
    background-color: rgba(255,255,255, 1);
    margin: 5px;
    padding: 0;
    min-height: 39vh;
}

.card-img-top{
    height: 40%;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media only screen and (max-width: 600px) {
    .card-img-top {
        height: 60%;
    }
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.footer-copyright > a {
    color: yellow;
}

.startBox{

}

.navbar-brand{
    /* color: white; */
}

#contactBtn{
    clear: both;
}

#questionCard{
    display: none;
}

#meImg{
    border-radius: 10px;
    float: left;
    height: 25vh;
    margin: 0 20px 20px 0;
    width: 25vh;
}

#scoreBoard{
    display: none;
}

#startGame{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
